<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhao.mawen.mapper.QuestionMapper">
    <insert id="insert" parameterType="com.zhao.mawen.model.Question">
        insert into question(title,description,gmt_create,gmt_modified,creator,comment_count,view_count,like_count,tag)
        values(#{title},#{description},#{gmtCreate},#{gmtModified},#{creator},#{commentCount},#{viewCount},#{likeCount},#{tag})
    </insert>

    <select id="list" resultType="com.zhao.mawen.model.Question">
        select * from question order by gmt_modified desc
    </select>

    <select id="listById" resultType="com.zhao.mawen.model.Question">
        select * from question where creator=#{creator} order by gmt_modified desc
    </select>

    <select id="findById" resultType="com.zhao.mawen.model.Question">
        select * from question where id=#{id}
    </select>

    <select id="selectRelated" resultType="com.zhao.mawen.model.Question">
        select * from question
        where id != #{id} and tag regexp #{tag}
    </select>
    <update id="update" parameterType="com.zhao.mawen.model.Question">
        update question
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=BIGINT},
            </if>
            <if test="commentCount != null">
                comment_count = #{commentCount,jdbcType=INTEGER},
            </if>
            <if test="viewCount != null">
                view_count = view_count + 1,
            </if>
            <if test="likeCount != null">
                like_count = #{likeCount,jdbcType=INTEGER},
            </if>
            <if test="tag != null">
                tag = #{tag,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="incCommentCount" parameterType="com.zhao.mawen.model.Question">
        update question
        set comment_count = comment_count + 1,gmt_modified=#{gmtModified}
        where id=#{id};
    </update>
</mapper>